<!-- <mat-progress-bar mode="determinate" *ngIf="loading"></mat-progress-bar> -->
<!-- head menu -->
<mat-toolbar class="container-header-menu mat-elevation-z8">
  <div class="item-header">
    <h1>
      <a routerLink="home">WebApp</a>
    </h1>
    <a mat-icon-button (click)="drawer.toggle()" matRipple
      [matRippleRadius]="50"
      [matRippleCentered]="true"
      [matRippleColor]="rippleColor">
      <mat-icon style="color: rgb(20, 216, 196);">menu</mat-icon>
    </a>
  </div>
  <div class="item-header">
    <div class="header-action-margin">
      <nz-badge nzDot>
        <i nz-icon nzType="notification" nzTheme="outline"
          style="font-size:20px; color: rgb(20, 216, 196);"></i>
      </nz-badge>
    </div>
    <div class="header-action-margin">
      <nz-badge nzDot [matMenuTriggerFor]="menuMail">
        <i nz-icon nzType="mail" nzTheme="outline" style="font-size:
          20px;
          color: rgb(20, 216, 196);"></i>
      </nz-badge>
    </div>
    <div class="header-action">
      <a [matMenuTriggerFor]="menu">Hai, {{namaLengkapLogin}}</a>
      <nz-avatar nzIcon="user" [matMenuTriggerFor]="menu"
        [matRippleRadius]="50"
        [matRippleCentered]="true" matRipple
        [matRippleColor]="rippleColor"></nz-avatar>
    </div>
  </div>
</mat-toolbar>
<!-- side menu -->
<mat-drawer-container class="web-app-container mat-elevation-z1" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div style="width: 100%;">
      <li nz-menu [nzMode]="'inline'" nzTheme="dark">
        <div *ngFor="let item of menuIT">
          <ng-container *ngIf="item.isChild;then isSubMenu; else
            notSubMenu"></ng-container>
          <ng-template #isSubMenu>
            <ul>
              <li nz-submenu>
                <span title>
                  <i nz-icon nzType="{{item.icon}}"></i>
                  <span>{{item.title}}</span>
                </span>
                <div *ngFor="let itemSub of item.listMenu">
                  <ng-container *ngIf="itemSub.isChild;then
                    isSubsMenu; else
                    notSubsMenu"></ng-container>
                  <ng-template #isSubsMenu>
                    <ul>
                      <li nz-submenu>
                        <span title>
                          <i nz-icon
                            nzType="{{itemSub.icon}}"></i>
                          <span>{{itemSub.name}}</span>
                        </span>

                        <ul *ngFor="let subMenu of
                          itemSub.children">
                          <li nz-menu-item
                            routerLink="{{subMenu.link}}">
                            <span title>
                              <i nz-icon
                                nzType="{{subMenu.icon}}"></i>
                              <span>{{subMenu.name}}</span>
                            </span>
                          </li>
                        </ul>

                      </li>
                    </ul>
                  </ng-template>
                  <ng-template #notSubsMenu>
                    <ul>
                      <li nz-menu-item
                        routerLink="{{itemSub.link}}">
                        <span title>
                          <i nz-icon
                            nzType="{{itemSub.icon}}"></i>
                          <span>{{itemSub.name}}</span>
                        </span>
                      </li>
                    </ul>
                  </ng-template>

                </div>
              </li>
            </ul>
          </ng-template>
          <ng-template #notSubMenu>
            <ul>
              <li nz-menu-item routerLink="{{item.link}}">
                <span title>
                  <i nz-icon type="{{item.icon}}"></i>
                  <span>{{item.title}}</span>
                </span>
              </li>
            </ul>
          </ng-template>
        </div>
      </li>
    </div>
  </mat-drawer>

  <div class="web-content">
    <div style="margin:5px">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
<mat-menu #menu="matMenu">
  <mat-list role="list">
    <mat-list-item role="listitem" [routerLink]="['/master/user']"
      routerLinkActive="router-link-active">
      <mat-icon mat-list-icon>person</mat-icon>
      <a>Profile</a>
    </mat-list-item>
    <mat-list-item role="listitem" [routerLink]="['ganti-password']"
      routerLinkActive="router-link-active">
      <mat-icon mat-list-icon>security</mat-icon>
      <a routerLink="ganti-password" routerLinkActive="router-link-active">Ganti
        Password</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>logout</mat-icon>
      <a>Logout</a>
    </mat-list-item>
  </mat-list>
</mat-menu>
<ng-template #avatarTemplate>
  <nz-avatar
    nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>
<mat-menu #menuMail="matMenu">
  <nz-empty></nz-empty>
</mat-menu>