@import '@angular/material/prebuilt-themes/purple-green.css';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import './theme-material.scss';
// @import url('../node_modules/primeng/resources/themes/omega/theme.css');
// @import url('../node_modules/primeng/resources/primeng.min.css');
// @import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
    color:rgb(53, 53, 53);
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.snackbar-info {
    background: #8baefe;
}

.snackbar-error {
    background-color: #ff6363;
}

.snackbar-success {
    background-color: #4cf08a;
    & simple-snack-bar {
        span {
            color: #6a6a6a
        }
    }
}

.snackbar-warning {
    background-color: #f5f85d;
    & simple-snack-bar {
        span {
            color: #6a6a6a
        }
    }
}

.snackbar-default {
    background-color: #6a6a6a;
}